In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\Niklas Winter\Instacart Basket Analysis'

In [7]:
# Importing data set departments.csv
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merged.pkl'))

In [8]:
df = ords_prods_merge[:1000000]

In [9]:
df.shape

(1000000, 15)

In [17]:
df.head()

,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered
0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,28,6,11,3.00000,5,0
1,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,30,6,17,20.00000,1,1
2,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,2,0,21,6.00000,20,0
3,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,1,3,13,11.11484,10,0
4,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,3,4,17,9.00000,11,1

In [13]:
df.groupby('product_name')

In [25]:
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

#### The subset does not include all the departments of the database. In addition, the number of observations per department is lower than for the complete dataset, meaning that the mean also varies. Therefore, the average of the full dataset is more significant than in the subset (it is a better sample)."

## Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

In [26]:
# creating “max_order” column using transform()
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [28]:
#Checking results
ords_prods_merge.head(15)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,max_order
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.00000,5,0,32
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.00000,1,1,32
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.00000,20,0,5
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,11.11484,10,0,3
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.00000,11,1,3
5,0,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,26.00000,7,0,26
6,0,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,3,2,14,30.00000,2,0,9
7,0,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,12,3,10,30.00000,1,0,12
8,0,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,10,1,20,19.00000,1,0,20
9,0,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,15,1,12,15.00000,2,1,20
10,0,1,Chocolate Sandwich Cookies,61,19,5.8,1798115,1379,1,5,11,11.11484,1,0,10
11,0,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,36,3,13,7.00000,1,0,43
12,0,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,38,4,13,7.00000,3,1,43
13,0,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,39,2,12,12.00000,4,1,43
14,0,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,6,3,10,2.00000,8,0,13

In [40]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max', 'sum']})

                     prices
                       mean  min      max          sum
loyalty_flag
New customer      13.294670  1.0  99999.0   83011787.2
Regular customer  12.495717  1.0  99999.0  198391693.2

In [41]:
# Identfy loyal customer 
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [34]:
# Creating a 'loyalty' flag
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [36]:
# Creating a 'loyalty' flag
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [43]:
# Checking value counts
ords_prods_merge['loyalty_flag'].value_counts()

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [42]:
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0       138  Regular customer            28
1       138  Regular customer            30
2       709      New customer             2
3       764      New customer             1
4       764      New customer             3
5       777  Regular customer            16
6       825      New customer             3
7       910  Regular customer            12
8      1052  Regular customer            10
9      1052  Regular customer            15
10     1379      New customer             1
11     1480    Loyal customer            36
12     1480    Loyal customer            38
13     1480    Loyal customer            39
14     1494  Regular customer             6
15     1494  Regular customer             7
16     1494  Regular customer             9
17     1540  Regular customer             4
18     1540  Regular customer             5
19     1540  Regular customer             6
20     1540  Regular customer             7
21     1540  Regular customer             8
22     1540  Regular customer             9
23     1540  Regular customer            14
24     1540  Regular customer            15
25     1540  Regular customer            18
26     1540  Regular customer            19
27     1540  Regular customer            20
28     1540  Regular customer            21
29     1540  Regular customer            22
30     1540  Regular customer            24
31     1540  Regular customer            25
32     1540  Regular customer            27
33     1540  Regular customer            28
34     1598      New customer             1
35     1598      New customer             2
36     1598      New customer             3
37     1647      New customer             1
38     1647      New customer             4
39     1647      New customer             6
40     1647      New customer             8
41     1647      New customer             9
42     2833      New customer             1
43     2850  Regular customer             7
44     2857  Regular customer            24
45     3010  Regular customer             5
46     3029      New customer             1
47     3395      New customer             4
48     3904      New customer             1
49     4006    Loyal customer             2
50     4006    Loyal customer             3
51     4006    Loyal customer             5
52     4006    Loyal customer             9
53     4006    Loyal customer            12
54     4122  Regular customer            11
55     4141      New customer             2
56     4343      New customer             1
57     4553      New customer             3
58     4845  Regular customer             6
59     6866      New customer             1

### 5. The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified.

In [44]:
# descriptive statistics for the loyalty_flag
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max', 'sum']})

                     prices
                       mean  min      max          sum
loyalty_flag
Loyal customer    10.386336  1.0  99999.0  106814042.2
New customer      13.294670  1.0  99999.0   83011787.2
Regular customer  12.495717  1.0  99999.0  198391693.2

### 6. The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria

In [47]:
# creating “spending_flag” column using transform()
ords_prods_merge['average_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [48]:
# Rounding averages
ords_prods_merge['average_price'] = ords_prods_merge['average_price'].round(2)

In [51]:
# Creating a 'spending_flag'
ords_prods_merge.loc[ords_prods_merge['average_price'] < 10, 'spending_flag'] = 'Low spender'

In [59]:
# Creating a 'spending_flag'
ords_prods_merge.loc[ords_prods_merge['average_price'] >= 10, 'spending_flag'] = 'High spender'

In [ ]:
# Creating a 'spending_flag'
ords_prods_merge.loc[ords_prods_merge['average_price'] >= 10, 'spending_flag'] = 'High spender'

In [55]:
# Checking counts
ords_prods_merge['spending_flag'].value_counts()

Low spender     31769965
High spender      634894
Name: spending_flag, dtype: int64

### 7.In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:

    ### If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
    ### If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
    ### If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [56]:
# creating “order_frequency_flag” column using transform()
ords_prods_merge['median_prior_orders'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [62]:
# Creating a 'order_frequency_flag'

ords_prods_merge.loc[ords_prods_merge['median_prior_orders'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'

In [63]:
# Creating a 'order_frequency_flag

ords_prods_merge.loc[(ords_prods_merge['median_prior_orders'] > 10) & (ords_prods_merge['median_prior_orders'] <= 20), 'order_frequency_flag'] = 'Regular customer'

In [67]:
# Creating a 'order_frequency_flag'

ords_prods_merge.loc[(ords_prods_merge['median_prior_orders'] <= 10), 'order_frequency_flag'] = 'Frequent customer'

In [73]:
# Checking counts

ords_prods_merge['spending_flag'].value_counts()

Low spender     31769965
High spender      634894
Name: spending_flag, dtype: int64

In [74]:
ords_prods_merge[['median_prior_orders'].value_counts()

7.00000     5419749
6.00000     2782133
8.00000     2640710
5.00000     2332868
4.00000     2201945
             ...
6.55742         600
20.05742        558
6.05742         354
5.55742         320
0.50000          80
Name: median_prior_orders, Length: 92, dtype: int64

In [78]:
# Check outcome

ords_prods_merge.shape

(32404859, 20)

In [79]:
ords_prods_merge.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,max_order,loyalty_flag,average_price,spending_flag,median_prior_orders,order_frequency_flag
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.00000,5,0,32,Regular customer,6.94,Low spender,8.00000,Frequent customer
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.00000,1,1,32,Regular customer,6.94,Low spender,8.00000,Frequent customer
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.00000,20,0,5,New customer,7.93,Low spender,8.00000,Frequent customer
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,11.11484,10,0,3,New customer,4.97,Low spender,11.11484,Regular customer
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.00000,11,1,3,New customer,4.97,Low spender,11.11484,Regular customer

### 9. Export your dataframe as a pickle file and store it correctly in your “Prepared Data” folder.

In [81]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge_updated_2.pkl'))